<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
        <ul class="navigation">
            <li ng-class="{'active': vm.state.current.name == 'dashboard'}">
                <a href="" ui-sref="dashboard"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
            </li>
            
        </ul> <!-- / .navigation -->
    </div> <!-- / #main-menu-inner -->
</div> <!-- / #main-menu -->
