<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="wraper">
                    <div class="col-sm-12 col-md-4 col-xs-12">
                        <div class="social-link">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-xs-12">
                        <div class="footer-link">
                            <span><i class="fa fa-outdent"></i>Footer Links</span>

                            <div class="wraper">
                                <ul>
                                    <li><a href="#">about us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Site Map</a></li>
                                    <li><a href="#">Search Teams</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top end -->

    <!-- footer-mid start -->
    <div class="footer-mid">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="text-footer res">
                        <div class="title">
                            <h3>About Us</h3>
                        </div>
                        <div class="about-img">
                            <a href="#"><img src="{{vm.imagePath}}about/about1.png" alt=""/></a>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                tincidunt ut laoreet dolore magna aliquam erat</p>
                        </div>
                        <div class="read-more">
                            <a href="#" class="read-more-btn">Continus Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="text-footer res">
                        <div class="title">
                            <h3>Features</h3>
                        </div>
                        <div class="icon-text">
                            <div class="icon">
                                <i class="fa fa-history"></i>
                            </div>
                            <div class="text">
                                <h3>30 days Return policy</h3>

                                <p>We have 30 days return policy if medicin doesn't suite you</p>
                            </div>
                        </div>
                        <div class="icon-text">
                            <div class="icon">
                                <i class="fa fa-tags"></i>
                            </div>
                            <div class="text">
                                <h3>Sale</h3>

                                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                            </div>
                        </div>
                        <div class="icon-text">
                            <div class="icon">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>Free home Delivery</h3>

                                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                            </div>
                        </div>
                        <div class="icon-text res">
                            <div class="icon">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>Secure transaction</h3>

                                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="text-footer res3">
                        <div class="title res links">
                            <h3>Popular Links</h3>
                        </div>
                        <div class="text-links">
                            <ul>
                                <li><a href="#">Are You Prepared For Kidney Diseas?</a></li>
                                <li><a href="#">Cataract-Myth And Fact</a></li>
                                <li><a href="#">Is Computer Hurting neck?</a></li>
                                <li><a href="#">Be Aware of Seasonal Allergy</a></li>
                                <li><a href="#">Do not Ignore Abnormal Pain</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="text-footer">
                        <div class="title">
                            <h3>Client says</h3>
                        </div>
                        <div class="twitter-articale">
                            <div class="thumb">
                                <a href="#"><img src="{{vm.imagePath}}customer/client1.jpg" class="img-circle" alt=""/></a>
                            </div>
                            <div class="twitter-text">
                                <strong><a href="#">YoPillz</a></strong>
                                <a href="#">@BootExperts</a>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod
                                    tincidunt ut laoreet dolore magna aliquam erat...</p>
                                <a href="#">https://yopillz.com</a>
                            </div>
                        </div>
                        <div class="twitter-articale">
                            <div class="thumb">
                                <a href="#"><img src="{{vm.imagePath}}customer/client.jpg" class="img-circle" alt=""/></a>
                            </div>
                            <div class="twitter-text">
                                <strong><a href="#">Yopillz</a></strong>
                                <a href="#">@BootExperts</a>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod
                                    tincidunt ut laoreet dolore magna aliquam erat...</p>
                                <a href="#">https://yopillz.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </div>
    <!-- footer-mid end -->
</footer>
