<div id="mainslider" class="nivoSlider slider-image">
    <img src="assets/img/slider/s1.png" alt="" title="#htmlcaption1"/>
    <img src="assets/img/slider/s2.png" alt="" title="#htmlcaption1"/>

</div>
<!-- direction 1 -->
<div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
    <div class="slider-progress"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="slider-content">
                    <!-- layer 1 -->
                    <div class="layer-1 wow bounceInRight" data-wow-duration="1.5" data-wow-delay=".5s ">
                        <h2 class="title1">Bettering the Human Condition</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-1-2 wow bounceInRight" data-wow-duration="2" data-wow-delay=".7s ">
                        <p class="title2">Bringing excellence home </p>
                    </div>
                    <!-- layer 3 -->
                    <div class="layer-1-3 wow bounceInUp" data-wow-duration="1.5" data-wow-delay=".9s ">
                        <a href="#" class="ready-btn">Shop It now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- direction 2 -->
<div id="htmlcaption2" class="nivo-html-caption slider-caption-1">
    <div class="slider-progress"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="slider-content">
                    <!-- layer 1 -->
                    <div class="layer-1-1 wow slideInLeft" data-wow-duration="1.5" data-wow-delay=".5s ">
                        <h2 class="title1">
                            First. Best. Always. </h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-1-2 wow slideInLeft" data-wow-duration="1.5" data-wow-delay=".7s ">
                        <p class="title2">For the journey that is life.</p>
                    </div>
                    <!-- layer 3 -->
                    <div class="layer-1-3 wow bounceInUp" data-wow-duration="1.5" data-wow-delay=".9s ">
                        <a href="#" class="ready-btn">Shop It now!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
