<toaster-container></toaster-container>
<app-header state="vm.state"></app-header>
<!-- Form -->
<form id="signin-form_id" class="panel" novalidate name="loginForm">
    <div class="form-group" ng-class="{'has-error':loginForm.userEmail.$invalid && loginForm.userEmail.$touched}">
        <input type="text" name="userEmail" class="form-control input-lg" placeholder="Username or email" ng-model="vm.login.userEmail" required>
        <div ng-messages="loginForm.userEmail.$error" ng-show="loginForm.userEmail.$touched" style="color:maroon" role="alert">
            <p class="help-block" ng-message="required">Username filed is required</p>
        </div>
    </div> <!-- / Username -->

    <div class="form-group signin-password" ng-class="{'has-error':loginForm.userPassword.$invalid && loginForm.userPassword.$touched}">
        <input type="password" name="userPassword" class="form-control input-lg" placeholder="Password" ng-model="vm.login.userPassword" required>
        <div ng-messages="loginForm.userPassword.$error" ng-show="loginForm.userPassword.$touched" style="color:maroon" role="alert">
            <p class="help-block" ng-message="required">Password filed is required</p>
        </div>
    </div> <!-- / Password -->

    <div class="form-actions has-error">
        <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg" ng-click="vm.loginFunction()" ng-disabled="loginForm.$invalid">
    </div> <!-- / .form-actions -->
</form>

