<header>
    <stick-header stick-point=".stick-point-here">
        <div class="header-top"><!-- Header-top start -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <ul class="header-top-right pull-left">
                            <li class="log-in-click line-height-25">
                                <a href=""><strong>Area</strong></a>
                                <ul class="dropdown">
                                    <li><a href="">Gachibowli</a></li>
                                    <li><a href="">Kondapur</a></li>
                                    <li><a href="">Madhapur</a></li>
                                    <li><a href="">Chandanagar</a></li>
                                    <li><a href="">Miyapur</a></li>
                                    <li><a href="">Kukatpally</a></li>
                                </ul>
                            </li>
                            <li class="currency line-height-25">
                                <a href=""><strong>City</strong></a>
                                <ul class="dropdown">
                                    <li><a href="">Hydrabad</a></li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <ul class="header-top-right">

                            <li class="currency">
                                <a href="" class="last" ui-sref="signup"><strong>Sign Up</strong></a>
                            </li>
                            <li class="currency">
                                <a href="" class="last" ui-sref="signin"><strong>Sign In</strong></a>
                            </li>
                            <li class="currency">
                                <a href="" class="last"><strong>24x7 Customer Care</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
        <!-- Header-top end -->

        <div class="header-mid-area"><!-- Header-mid start -->
            <div class="container ">
                <div class="main-area ">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12 padding-r-0">
                            <div class="logo-area">
                                <a href="index.html"><img src="{{vm.imagePath}}testimonial/logo.png" alt=""/></a>

                                <!--<div class="col-sm-12">
                                    <div class="text-title">
                                        <h6 class="text"><strong>Bringing together All Your Healthcare Needs</strong></h6>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-10 col-xs-12">
                            <div class="col-lg-10 col-md-8 col-sm-8 col-xs-12 padding-a-0">
                                <div class="search-area">
                                    <div class="input-group">
                                        <form action="#">
                                            <input type="text" placeholder="Enter keywords to search"/>
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 padding-l-0">
                                <div class="header-mid-right box-1">
                                    <div class="top-cart-area dflt-dropdown pull-right">
                                        <div class="icon">
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                            <span class="cart-count">2</span>
                                        </div>
                                        <ul class="drop-down">
                                            <li>
                                                <div class="cart-img">
                                                    <a href="">
                                                        <img src="{{vm.imagePath}}cart-product/1.jpg" alt=""/>
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <p class="product-name">
                                                        <a href="">consequences</a>
                                                    </p>

                                                    <div class="price">
                                                        <span>1</span>x <strong>$211.00</strong>
                                                    </div>
                                                </div>
                                                <div class="edit-del">
                                                    <i class="fa fa-pencil"></i>
                                                    <i class="fa fa-times-circle"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cart-img">
                                                    <a href="">
                                                        <img src="{{vm.imagePath}}cart-product/2.jpg" alt=""/>
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <p class="product-name">
                                                        <a href="">consequences</a>
                                                    </p>

                                                    <div class="price">
                                                        <span>1</span>x <strong>$211.00</strong>
                                                    </div>
                                                </div>
                                                <div class="edit-del">
                                                    <i class="fa fa-pencil"></i>
                                                    <i class="fa fa-times-circle"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <p class="subtotal">
                                                    Subtotal: <span>$521.00</span>
                                                </p>
                                            </li>
                                            <li>
                                                <button type="button">Checkout <span><i
                                                    class="fa fa-long-arrow-right"></i></span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="checkout pull-right">
                                        <div class="icon">
                                            <a data-toggle="tooltip" title="Notification" href=""><i
                                                class="fa fa-bell"></i></a>
                                        </div>
                                    </div>
                                    <div class="wishlist pull-right">
                                        <div class="icon">
                                            <a data-toggle="tooltip" title="Wishlist" href="">
                                                <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header-end -->

        <!-- Header-bottom start -->
        <div class="header-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="main-menu">
                            <ul class="menu">
                                <li><a ng-class="{'active1': vm.state.current.name == category.link}"
                                       ui-sref="home">Home</a></li>
                                <li ng-repeat="category in vm.productCategory">
                                    <a ng-class="{'active1': vm.state.current.name == category.categoryId}"
                                       ui-sref="product.cat({categoryId:category.categoryId})">{{category.categoryName}}</a>
                                    <ul class="mega-menu sec-5 tas tas-last" ng-if="category.subcategory.length > 0">
                                        <li ng-repeat="subPart in category.subcategory" ng-if="subPart.length > 0"
                                            ng-class="{'menu-img-pad':$last}">
                                            <a ui-sref="product.cat.sub({subCategoryId:subCategory.subCategoryId})"
                                               ng-repeat="subCategory in subPart"
                                               ng-class="{'menu-img':subCategory.image}">
                                            <span ng-if="subCategory.subCategoryName">
                                                {{subCategory.subCategoryName}}
                                            </span>
                                                <img ng-if="subCategory.image" src="{{subCategory.image}}" alt="No"/>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header-bottom end -->


        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <nav id="dropdown" meanMenu menu-class=".mobile-menu">
                                <ul class="menu">
                                    <li><a class="active1" href="index.html">Home</a></li>
                                    <li><a href="">Medicine</a>
                                        <ul class="mega-menu sec-2">
                                            <li>
                                                <a href="#/">Lip care</a>
                                                <a href="#/">Body care </a>
                                                <a href="#/">Eye care</a>
                                                <a href="#/">Cosmetics</a>
                                                <a href="#/">Facial kit </a>
                                            </li>
                                            <li>
                                                <a href="#/">Hair care</a>
                                                <a href="#/">Hand and foot care</a>
                                                <a href="#/">Nail care</a>
                                                <a href="#/">Oral care</a>
                                                <a href="#/">Women care</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#/">OTC</a>
                                        <ul class="mega-menu sec-1 tas tas-last">
                                            <li>
                                                <span class="heading"></span>
                                                <a href="">First aid</a>
                                                <a href="#/">Health Care</a>
                                                <a href="#/">Mens care</a>
                                                <a href="#/">Womens care</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="">Bootique Healthcare</a>
                                        <ul class="mega-menu sec-2">
                                            <li>
                                                <a href="#/">Lip care</a>
                                                <a href="#/">Body care </a>
                                                <a href="#/">Eye care</a>
                                                <a href="#/">Cosmetics</a>
                                                <a href="#/">Facial kit </a>
                                            </li>
                                            <li>
                                                <a href="#/">Hair care</a>
                                                <a href="#/">Hand and foot care</a>
                                                <a href="#/">Nail care</a>
                                                <a href="#/">Oral care</a>
                                                <a href="#/">Women care</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="shop-list.html">Product List</a>
                                    </li>
                                    <li><a href="checkout.html">checkout</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->
    </stick-header>

</header>
