<toaster-container></toaster-container>
<!-- Header start -->
<app-header state="vm.state"></app-header>
<!-- Header end -->
<div class="main-container col1-layout" >
    <div class="main">
        <div class="col-main">


            <div class="container">
                <div class="container-inner">
                    <div class="account-login">
                        <div class="page-title">
                            <h1>Login or Create an Account</h1>
                        </div>
                        <form action="" method="post" novalidate name="loginForm" id="login-form"
                              ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                            <input name="form_key" type="hidden" value="iGM6WxeLY6aFamNd"/>

                            <div class="col2-set">
                                <div class="col-1 new-users">
                                    <div class="content">
                                        <h2>New Customers</h2>

                                        <p>By creating an account with our store, you will be able to move through the
                                            checkout process faster, store multiple shipping addresses, view and track
                                            your orders in your account and more.</p>
                                    </div>
                                </div>
                                <div class="col-2 registered-users">
                                    <div class="content">
                                        <h2>Registered Customers</h2>

                                        <p>If you have an account with us, please log in.</p>
                                        <ul class="form-list">
                                            <li>
                                                <label for="email" class="required"><em>*</em>Email Address</label>

                                                <div class="input-box">
                                                    <input type="email" name="username" value="" id="email"
                                                           class="input-text required-entry validate-email has-error"
                                                           title="Email Address" ng-model="username" required=""/>

                                                    <div ng-messages="loginForm.username.$error " ng-show="loginForm.username.$invalid &&
                                                       loginForm.username.$touched && loginForm.username.$email "
                                                         style="color:red" role="alert" class="ng-active">This is
                                                        required field
                                                    </div>
                                                    <div ng-messages="loginForm.username.$error"
                                                         ng-show="loginForm.username.$error.email" style="color:red"
                                                         role="alert" class="ng-active">Not a valid email
                                                    </div>
                                                </div>
                                            </li>
                                            <br>
                                            <li>
                                                <label for="pass" class="required"><em>*</em>Password</label>

                                                <div class="input-box">
                                                    <input type="password" name="password"
                                                           class="input-text required-entry validate-password has-error"
                                                           id="pass"
                                                           title="Password" ng-model="password" ng-maxlength="10"
                                                           required=""/>

                                                    <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$invalid &&
                                                       loginForm.password.$touched " style="color:red" role="alert"
                                                         class="ng-active">This is required field
                                                    </div>
                                                    <div ng-messages="loginForm.password.$error"
                                                         ng-show="loginForm.password.$error.maxlength" style="color:red"
                                                         role="alert" class="ng-active">Password should be within 10
                                                        characters
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <p class="required">* Required Fields</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col2-set">
                                <div class="col-1 new-users">
                                    <div class="buttons-set">
                                        <button type="button" title="Create an Account" class="button" ui-sref="signup">
                                            <span><span>Create an Account</span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-2 registered-users">
                                    <div class="buttons-set">
                                        <a href="" class="f-left">Forgot Your Password?</a>
                                        <button type="submit" class="button" title="Login" name="send" id="send2"
                                                ng-disabled="loginForm.$invalid ">
                                            <span><span>Login</span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- subscribe area start-->
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-center">
                <div class="title">
                    <h3>Get in touch</h3>
                </div>
                <div class="des-newletter">
                    <p>Subscribe to the Yopillz mailing list to receive updates on new arrivals, special offers and
                        other discount information.</p>
                </div>
                <div class="input-box">
                    <input type="text" class="input-text" placeholder="Sign up for our newsletter" id="newsletter"
                           name="email"/>
                    <button class="button" title="Subscribe" type="submit"><span><span>subscribe</span></span></button>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
</section>
<!-- subscribe-area end-->

<!-- Footer start -->
<app-footer></app-footer>
<!-- Header end -->
