<toaster-container></toaster-container>
<!-- Header start -->
<app-header state="vm.state"></app-header>
<!-- Header end -->

<div id="billing">
    <div class="panel-body">
        <div class="login-form">
            <form action="#" name="signupForm" novalidate method="post">
                <div class="customer-name">
                    <div class="first-name"
                         ng-class="{ 'has-error' : signupForm.firstName.$invalid && !signupForm.firstName.$pristine }">
                        <p>First Name<span>*</span></p>
                        <input type="text" name="firstName" ng-model="fname" class="has-error" required="">

                        <p ng-messages="signupForm.firstName.$error" ng-show="signupForm.firstName.$invalid &&
                                   signupForm.firstName.$touched " style="color:red" role="alert" class="ng-active">This
                            field is required</p>
                    </div>
                    <div class="last-name tm"
                         ng-class="{ 'has-error' : signupForm.lastName.$invalid && !signupForm.lastName.$pristine }">
                        <p>Last Name<span>*</span></p>
                        <input type="text" name="lastName" ng-model="lname" class="has-error" required="">

                        <p ng-show="signupForm.lastName.$invalid &&
                                   signupForm.lastName.$touched " ng-messages="signupForm.lastName.$error"
                           style="color:red" role="alert" class="ng-active">This field is required</p>
                    </div>
                </div>
                <div class="customer-info">
                    <div class="company-name"
                         ng-class="{ 'has-error' : signupForm.companyName.$invalid && !signupForm.companyName.$pristine }">
                        <p>Company</p>
                        <input type="text" name="companyName" ng-model="compname" class="has-error" required="">

                        <p ng-show="signupForm.companyName.$invalid &&
                                   signupForm.companyName.$touched " ng-messages="signupForm.companyName.$error"
                           style="color:red" role="alert" class="ng-active">This field is required</p>
                    </div>
                    <div class="email-address tm"
                         ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
                        <p>Email Adress<span>*</span></p>
                        <input type="email" name="email" ng-model="email" class="has-error" required="">

                        <p ng-show="signupForm.email.$invalid &&
                                    signupForm.email.$touched" ng-messages="signupForm.email.$error" style="color:red"
                           role="alert" class="ng-active">This field is required</p>
                    </div>
                </div>
                <p ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
                    Address<span>*</span></p>
                <input type="text" ng-model="address" name="address" class="has-error" required="">

                <p ng-show="signupForm.address.$invalid &&
                                    signupForm.address.$touched" ng-messages="signupForm.address.$error"
                   style="color:red" role="alert" class="ng-active">This field is required</p>

                <div class="city-country">
                    <div class="city"
                         ng-class="{ 'has-error' : signupForm.city.$invalid && !signupForm.city.$pristine }">
                        <p>City<span>*</span></p>
                        <input type="text" name="city" ng-model="city" class="has-error" required="">

                        <p ng-show="signupForm.city.$invalid &&
                                    signupForm.city.$touched" ng-messages="signupForm.city.$error" style="color:red"
                           role="alert" class="ng-active">This field is required</p>
                    </div>
                    <div class="state">
                        <p>State/Province</p>
                        <select class="country">
                            <option value="state">Please select region, state or province</option>
                            <option value="indo">Bahasa Indonesia</option>
                            <option value="melyu">Bahasa Melayu</option>
                            <option value="deutsch">Deutsch (Deutschland)</option>
                            <option value="austra">English (Australia)</option>
                            <option value="canada">English (Canada)</option>
                            <option value="india">English (India)</option>
                            <option value="ireland">English (Ireland)</option>
                            <option value="maktoob">English (Maktoob)</option>
                            <option value="malaysia">English (Malaysia)</option>
                        </select>
                    </div>
                </div>
                <div class="city-country">
                    <div class="city"
                         ng-class="{ 'has-error' : signupForm.postalcode.$invalid && !signupForm.postalcode.$pristine }">
                        <p>Zip/Postal Code<span>*</span></p>
                        <input type="number" name="postalcode" ng-model="postalcode" class="has-error" required="">

                        <p ng-show="signupForm.postalcode.$invalid &&
                                   signupForm.postalcode.$touched" ng-messages="signupForm.postalcode.$error"
                           style="color:red" role="alert" class="ng-active">This field is required</p>

                        <p ng-show="signupForm.postalcode.$error.number" ng-messages="signupForm.postalcode.$error"
                           style="color:red" role="alert" class="ng-active">Not a valid Number!</p>
                    </div>
                    <div class="state">
                        <p>Country<span>*</span></p>
                        <select class="country">
                            <option value="AF">Afghanistan</option>
                            <option value="AU">Australia</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="CA">Canada</option>
                            <option value="DK">Denmark</option>
                            <option value="EG">Egypt</option>
                            <option value="FR">France</option>
                            <option value="GB">United Kingdom</option>
                            <option selected="selected" value="US">India</option>
                        </select>
                    </div>
                </div>
                <div class="customer-info">
                    <div class="telephone"
                         ng-class="{ 'has-error' : signupForm.telephone.$invalid && !signupForm.telephone.$pristine }">
                        <p>Telephone<span>*</span></p>
                        <input type="number" name="telephone" ng-model="telephone" class="has-error" required=""><br>
                        <span ng-show="signupForm.telephone.$invalid &&
                                    signupForm.telephone.$touched " ng-messages="signupForm.telephone.$error"
                              style="color:red" role="alert" class="ng-active">This field is required</span><br>

                        <p ng-show="signupForm.telephone.$error.number" ng-messages="signupForm.postalcode.$error"
                           style="color:red" role="alert" class="ng-active">Not a valid Number!</p>
                    </div>
                    <div class="fax tm"
                         ng-class="{ 'has-error' : signupForm.fax.$invalid && !signupForm.fax.$pristine }">
                        <p>Fax</p>
                        <input type="number" name="fax" ng-model="fax" class="has-error" required=""><br>
                        <span ng-show="signupForm.fax.$invalid &&
                                    signupForm.fax.$touched " ng-messages="signupForm.fax.$error" style="color:red"
                              role="alert" class="ng-active">This field is required</span><br>

                        <p ng-show="signupForm.fax.$error.number" ng-messages="signupForm.postalcode.$error"
                           style="color:red" role="alert" class="ng-active">Not a valid Number!</p>
                    </div>
                </div>
                <div class="buttons-set">
                    <p class="back-link"><a href="#">Back</a></p>
                    <button type="submit" class="button" ng-disabled="signupForm.$invalid ">
                        <span><span>SignUp</span></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- subscribe area start-->
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-center">
                <div class="title">
                    <h3>Get in touch</h3>
                </div>
                <div class="des-newletter">
                    <p>Subscribe to the Yopillz mailing list to receive updates on new arrivals, special offers and
                        other discount information.</p>
                </div>
                <div class="input-box">
                    <input type="text" class="input-text" placeholder="Sign up for our newsletter" id="newsletter"
                           name="email"/>
                    <button class="button" title="Subscribe" type="submit"><span><span>subscribe</span></span></button>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
</section>
<!-- subscribe-area end-->
<!-- Footer start -->
<app-footer></app-footer>
<!-- Header end -->
