<toaster-container></toaster-container>
<!-- Header start -->
<app-header state="vm.state"></app-header>
<!-- Header end -->
<section class="shop stick-point-here" ng-class="{'shop-list': vm.state.current.name == 'product.list'}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-title res7">
                    <li><a href="#">Home</a></li>
                    <li><span><i class="fa fa-angle-right"></i></span></li>
                    <li class="current">Product List</li>
                </ul>
            </div>
            <ui-view></ui-view>

        </div> <!-- row end -->
    </div>
</section>
