<toaster-container></toaster-container>
<!-- Header start -->
<app-header state="vm.state"></app-header>
<!-- Header end -->
<section class="shop stick-point-here" ng-class="{'shop-list': vm.state.current.name == 'product.list'}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-title res7">
                    <li><a ui-sref="home">Home</a></li>
                    <li><span><i class="fa fa-angle-right"></i></span></li>
                    <li class="current"><a hre>Product Grid</a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="toolbar">
                    <div class="view-mode">
                        <a ui-sref="product.grid" ng-class="{'active': vm.state.current.name == 'product.grid'}"><i
                            class="fa fa-th-large"></i></a>
                        <a ui-sref="product.list" ng-class="{'active':vm.state.current.name == 'product.list'}"><i
                            class="fa fa-th-list"></i></a>
                    </div>
                    <div class="show-result">
                        <p> Showing {{vm.pageLower}} &ndash; {{vm.pageUpper}} of {{vm.productList.length}} results</p>
                    </div>
                    <div class="toolbar-form">
                        <form action="#">
                            <div class="tolbar-select">
                                <select ng-model="vm.OrderByProductList">
                                    <option value="ProductName">ProductName</option>
                                    <option value="PackMRP">Price(Low)</option>
                                    <option value="-PackMRP">Price(High)</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row product-grid">
                    <div class="col-md-3 col-sm-6"
                         dir-paginate="product in vm.productList | itemsPerPage: 16 | orderBy : vm.OrderByProductList"
                         current-page="vm.currentPage">
                        <div class="single-product">
                            <div class="product-img">
                                <a ng-click="vm.productDetailFunction(product)">
                                    <img alt="" src="{{product.Image1}}" class="first"/>
                                    <img alt="" src="{{product.Image2}}" class="second"/>
                                </a>
                                <!--<span class="new">New arrivals</span>
                                <span class="sale">Sale</span>-->
                            </div>
                            <div class="product-info">
                                <div class="price">{{product.PackMRP}}</div>
                                <h5 class="product-name"><a href="#">{{product.ProductName}} </a></h5>
                                <!--<div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>-->
                            </div>
                            <!-- <div class="add-to-link">
                                 <a data-toggle="tooltip" title="Wishlist" href="#"><i class="fa fa-heart"></i></a>
                                 <a data-toggle="tooltip" title="Compare" href="#"><i class="fa fa-compress"></i></a>
                                 <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i data-toggle="tooltip" title="Quckview" class="fa fa-search-plus"></i></a>
                             </div>-->
                            <div class="action">
                                <button type="button" ng-click="vm.productDetailFunction(product)">Add to Cart</button>
                            </div>

                        </div><!-- ‍single product end-->
                    </div>
                </div>
                <div class="row">
                    <div class="shop-pagination">
                        <div class="pagination">
                            <dir-pagination-controls boundary-links="true"
                                                     on-page-change="vm.pageChangeHandler(newPageNumber, oldPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row end -->
    </div>
</section>
