<toaster-container></toaster-container>
<!-- Header start -->
<app-header state="vm.state"></app-header>
<!-- Header end -->
<section class="shop stick-point-here" ng-class="{'shop-list': vm.state.current.name == 'product.list'}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-title res7">
                    <li><a ui-sref="home">Home</a></li>
                    <li><span><i class="fa fa-angle-right"></i></span></li>
                    <li class="current"><a hre>Product List</a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="toolbar">
                    <div class="view-mode">
                        <a ui-sref="product.grid" ng-class="{'active': vm.state.current.name == 'product.grid'}"><i
                            class="fa fa-th-large"></i></a>
                        <a ui-sref="product.list" ng-class="{'active':vm.state.current.name == 'product.list'}"><i
                            class="fa fa-th-list"></i></a>
                    </div>
                    <div class="show-result">
                        <p> Showing {{vm.pageLower}} &ndash; {{vm.pageUpper}} of {{vm.productList.length}} results</p>
                    </div>
                    <div class="toolbar-form">
                        <form action="#">
                            <div class="tolbar-select">
                                <select ng-model="vm.OrderByProductList">
                                    <option value="ProductName">ProductName</option>
                                    <option value="PackMRP">Price(Low)</option>
                                    <option value="-PackMRP">Price(High)</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="list-view">
                        <!-- single-product start -->
                        <div class="product-list-wrapper"
                             dir-paginate="product in vm.productList | itemsPerPage: 10 | orderBy : vm.OrderByProductList"
                             current-page="vm.currentPage">
                            <div class="single-product-list">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="product-img">
                                        <a href="#/product/{{product.Category}}/{{product.SubCategory}}/{{product.YoId}}">
                                            <img alt="" src="{{product.Image1}}" class="primary-image">
                                            <img alt="" src="{{product.Image2}}" class="secondary-image">
                                        </a>
                                        <span class="sale-text">Sale</span>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <div class="product-content">
                                        <h2 class="product-name"><a href="#/product/{{product.Category}}/{{product.SubCategory}}/{{product.YoId}}"
                                                                    ng-click="vm.productDetailFunction(product)">
                                            {{product.ProductName}}</a></h2>

                                        <div class="price-box">
                                            <span class="new-price">{{product.PackMRP}}</span>
                                        </div>
                                        <div class="product-desc">
                                            <p>{{product.Description}}</p>
                                        </div>
                                        <div class="actions">
                                            <div class="action-buttons">
                                                <div class="add-to-cart">
                                                    <a href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-product end -->

                    </div>
                </div>
                <div class="row">
                    <div class="shop-pagination">
                        <div class="pagination">
                            <dir-pagination-controls boundary-links="true"
                                                     on-page-change="vm.pageChangeHandler(newPageNumber, oldPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row end -->
    </div>
</section>
