<toaster-container></toaster-container>
<!-- Header start -->
<app-header state="vm.state"></app-header>
<!-- Header end -->

<!--Modal starts-->
<div class="container">

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"  data-target="#myModal">Save your location</button>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Location Me</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--<p class="text-center" style="padding: 30px 0 60px">
                                <i class="fa fa-map-marker fa-3x font-red animated infinite bounce"
                                   style="z-index: 999999; position: absolute; left: 48%;"></i>
                                <i class="fa fa-map fa-5x font-green" style="position: absolute; left: 44%; z-index:
                            999998"></i>
                            </p>-->
                            <!--<div id="map" style="width:100%;height:200px"></div>-->
                            <br/>

                            <p class="text-center">Get services sooner !!</p>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-xs-5 col-xs-offset-1">
                            <div class="form-group">
                                <label>Select State</label>
                                <select class="form-control input-green" disabled="true">
                                    <option>Hyderabad</option>
                                    <option>Bangalore</option>
                                    <option>Mumbai</option>
                                    <option>Gujarat</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label>Select City</label>
                                <input class="form-control input-green" type="text" ng-model="localStorageDemo"
                                       uib-typeahead="country as country.name for country in countries | filter:{name:$viewValue}"
                                       class="form-control" typeahead-show-hint="true" typeahead-min-length="0"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button-green" data-dismiss="modal">Go
                        For
                    </button>

                    <button type="button" class="button-red" data-dismiss="modal">Skip</button>

                </div>
            </div>

        </div>
    </div>
</div>
    <!--modal ends-->


    <!-- slider area start -->
    <section class="slider-area stick-point-here">
        <div class="bend niceties preview-2">
            <div id="mainslider" class="nivoSlider slider-image" nivo-slider>
                <img src="assets/img/slider/s1.png" alt="" title="#htmlcaption1"/>
                <img src="assets/img/slider/s2.png" alt="" title="#htmlcaption1"/>

            </div>
            <!-- direction 1 -->
            <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
                <div class="slider-progress"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1 wow bounceInRight" data-wow-duration="1.5" data-wow-delay=".5s ">
                                    <h2 class="title1">Bettering the Human Condition</h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow bounceInRight" data-wow-duration="2" data-wow-delay=".7s ">
                                    <p class="title2">Bringing excellence home </p>
                                </div>
                                <!-- layer 3 -->
                                <div class="layer-1-3 wow bounceInUp" data-wow-duration="1.5" data-wow-delay=".9s ">
                                    <a href="#" class="ready-btn">Shop It now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- direction 2 -->
            <div id="htmlcaption2" class="nivo-html-caption slider-caption-1">
                <div class="slider-progress"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1-1 wow slideInLeft" data-wow-duration="1.5" data-wow-delay=".5s ">
                                    <h2 class="title1">
                                        First. Best. Always. </h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInLeft" data-wow-duration="1.5" data-wow-delay=".7s ">
                                    <p class="title2">For the journey that is life.</p>
                                </div>
                                <!-- layer 3 -->
                                <div class="layer-1-3 wow bounceInUp" data-wow-duration="1.5" data-wow-delay=".9s ">
                                    <a href="#" class="ready-btn">Shop It now!</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider area end -->

    <section skrollr style="width: 100%; overflow-x: hidden; padding: 20px 0;">
        <div id="easing_wrapper" data-0="opacity:0;" data-150="opacity:1;">
            <div id="easing" data-140="margin-left:100%" data-400="margin-left:-100%;">
                <h1>1. easing?</h1>

                <p>sure.</p>
            </div>
            <div id="easing2" data-340="margin-left:100%" data-800="margin-left:-100%;">
                <h1>2. easing?</h1>

                <p>sure.</p>
            </div>

        </div>
    </section>

    <!-- banner area start -->
    <section class="banner-area">
        <div class="container">
            <div class="row margin-top-20px">
                <div class="col-sm-8">
                    <div class="single-banner res">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video controls>
                                <source
                                    src="assets/video/Better%20Healthcare%20Through%20Better%20Collaboration%20%5BLow,%20360p%5D.mp4"
                                    type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-banner res">
                        <a href="#">
                            <img src="{{vm.imagePath}}banner/banner-side.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
            <!-- row end-->

            <div class="row margin-top-20px res">
                <div class="col-sm-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/agxwZyrw_Gg" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="margin-top-30px hidden-lg"></div>
                <div class="col-sm-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rpQSknboCpU" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="margin-top-30px hidden-lg"></div>
                <div class="col-sm-4">
                    <div class="embed-responsive embed-responsive-16by9">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wlEY0z2RCMs" frameborder="0"
                                allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <!-- row end-->
        </div>
        <!-- container end-->
    </section>
    <!-- banner area end -->

    <!-- producttabs-slider  end -->
    <section class="producttabs-slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div><!-- tab start -->
                        <!-- Nav tabs -->
                        <ul class="tab-button" role="tablist">
                            <li role="presentation" class="active"><a href="#best" aria-controls="best" role="tab"
                                                                      data-toggle="tab">Popular products</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="best">
                                <div class="row">
                                    <div class="product-carusel" owl-carousel items="4">
                                        <div class="col-md-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="first" src="{{vm.imagePath}}product/p1-1.jpg"
                                                             alt=""/>
                                                        <img src="{{vm.imagePath}}product/p1-2.jpg" alt=""
                                                             class="second"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="price">INR.168.00</div>
                                                    <h5 class="product-name"><a href="#">Accumsan elit </a></h5>

                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="add-to-link">
                                                    <a data-toggle="tooltip" title="Wishlist" href="#"><i
                                                        class="fa fa-heart"></i></a>
                                                    <a data-toggle="tooltip" title="Compare" href="#"><i
                                                        class="fa fa-compress"></i></a>
                                                    <a class="modal-view" href="#" data-toggle="modal"
                                                       data-target="#productModal"><i data-toggle="tooltip"
                                                                                      title="Quckview"
                                                                                      class="fa fa-search-plus"></i></a>
                                                </div>
                                                <div class="action">
                                                    <button type="button">Add to Cart</button>
                                                </div>

                                            </div>
                                            <!-- ‍single product end-->
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="first" src="{{vm.imagePath}}product/p2-1.jpg"
                                                             alt=""/>
                                                        <img src="{{vm.imagePath}}product/p2-2.jpg" alt=""
                                                             class="second"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="price">INR.168.00</div>
                                                    <h5 class="product-name"><a href="#">Accumsan elit </a></h5>

                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="add-to-link">
                                                    <a data-toggle="tooltip" title="Wishlist" href="#"><i
                                                        class="fa fa-heart"></i></a>
                                                    <a data-toggle="tooltip" title="Compare" href="#"><i
                                                        class="fa fa-compress"></i></a>
                                                    <a class="modal-view" href="#" data-toggle="modal"
                                                       data-target="#productModal"><i data-toggle="tooltip"
                                                                                      title="Quckview"
                                                                                      class="fa fa-search-plus"></i></a>
                                                </div>
                                                <div class="action">
                                                    <button type="button">Add to Cart</button>
                                                </div>

                                            </div>
                                            <!-- ‍single product end-->
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="first" src="{{vm.imagePath}}product/p3-1.jpg"
                                                             alt=""/>
                                                        <img src="{{vm.imagePath}}product/p3-2.jpg" alt=""
                                                             class="second"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="price">INR.168.00</div>
                                                    <h5 class="product-name"><a href="#">Accumsan elit </a></h5>

                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="add-to-link">
                                                    <a data-toggle="tooltip" title="Wishlist" href="#"><i
                                                        class="fa fa-heart"></i></a>
                                                    <a data-toggle="tooltip" title="Compare" href="#"><i
                                                        class="fa fa-compress"></i></a>
                                                    <a class="modal-view" href="#" data-toggle="modal"
                                                       data-target="#productModal"><i data-toggle="tooltip"
                                                                                      title="Quckview"
                                                                                      class="fa fa-search-plus"></i></a>
                                                </div>
                                                <div class="action">
                                                    <button type="button">Add to Cart</button>
                                                </div>

                                            </div>
                                            <!-- ‍single product end-->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="first" src="{{vm.imagePath}}product/p4-1.jpg"
                                                             alt=""/>
                                                        <img src="{{vm.imagePath}}product/p4-1.jpg" alt=""
                                                             class="second"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="price">INR.168.00</div>
                                                    <h5 class="product-name"><a href="#">Accumsan elit </a></h5>

                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="add-to-link">
                                                    <a data-toggle="tooltip" title="Wishlist" href="#"><i
                                                        class="fa fa-heart"></i></a>
                                                    <a data-toggle="tooltip" title="Compare" href="#"><i
                                                        class="fa fa-compress"></i></a>
                                                    <a class="modal-view" href="#" data-toggle="modal"
                                                       data-target="#productModal"><i data-toggle="tooltip"
                                                                                      title="Quckview"
                                                                                      class="fa fa-search-plus"></i></a>
                                                </div>
                                                <div class="action">
                                                    <button type="button">Add to Cart</button>
                                                </div>

                                            </div>
                                            <!-- ‍single product end-->
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="first" src="{{vm.imagePath}}product/p5-1.jpg"
                                                             alt=""/>
                                                        <img src="{{vm.imagePath}}product/p5-2.jpg" alt=""
                                                             class="second"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="price">INR.168.00</div>
                                                    <h5 class="product-name"><a href="#">Accumsan elit </a></h5>

                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="add-to-link">
                                                    <a data-toggle="tooltip" title="Wishlist" href="#"><i
                                                        class="fa fa-heart"></i></a>
                                                    <a data-toggle="tooltip" title="Compare" href="#"><i
                                                        class="fa fa-compress"></i></a>
                                                    <a class="modal-view" href="#" data-toggle="modal"
                                                       data-target="#productModal"><i data-toggle="tooltip"
                                                                                      title="Quckview"
                                                                                      class="fa fa-search-plus"></i></a>
                                                </div>
                                                <div class="action">
                                                    <button type="button">Add to Cart</button>
                                                </div>

                                            </div>
                                            <!-- ‍single product end-->
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="first" src="{{vm.imagePath}}product/p4-2.jpg"
                                                             alt=""/>
                                                        <img src="{{vm.imagePath}}product/p4-2.jpg" alt=""
                                                             class="second"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="price">INR.168.00</div>
                                                    <h5 class="product-name"><a href="#">Accumsan elit </a></h5>

                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="add-to-link">
                                                    <a data-toggle="tooltip" title="Wishlist" href="#"><i
                                                        class="fa fa-heart"></i></a>
                                                    <a data-toggle="tooltip" title="Compare" href="#"><i
                                                        class="fa fa-compress"></i></a>
                                                    <a class="modal-view" href="#" data-toggle="modal"
                                                       data-target="#productModal"><i data-toggle="tooltip"
                                                                                      title="Quckview"
                                                                                      class="fa fa-search-plus"></i></a>
                                                </div>
                                                <div class="action">
                                                    <button type="button">Add to Cart</button>
                                                </div>

                                            </div>
                                            <!-- ‍single product end-->
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="first" src="{{vm.imagePath}}product/p2-1.jpg"
                                                             alt=""/>
                                                        <img src="{{vm.imagePath}}product/p2-1.jpg" alt=""
                                                             class="second"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="price">INR.168.00</div>
                                                    <h5 class="product-name"><a href="#">Accumsan elit </a></h5>

                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="add-to-link">
                                                    <a data-toggle="tooltip" title="Wishlist" href="#"><i
                                                        class="fa fa-heart"></i></a>
                                                    <a data-toggle="tooltip" title="Compare" href="#"><i
                                                        class="fa fa-compress"></i></a>
                                                    <a class="modal-view" href="#" data-toggle="modal"
                                                       data-target="#productModal"><i data-toggle="tooltip"
                                                                                      title="Quckview"
                                                                                      class="fa fa-search-plus"></i></a>
                                                </div>
                                                <div class="action">
                                                    <button type="button">Add to Cart</button>
                                                </div>

                                            </div>
                                            <!-- ‍single product end-->
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="first" src="{{vm.imagePath}}product/p4-2.jpg"
                                                             alt=""/>
                                                        <img src="{{vm.imagePath}}product/p4-2.jpg" alt=""
                                                             class="second"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="price">INR.168.00</div>
                                                    <h5 class="product-name"><a href="#">Accumsan elit </a></h5>

                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="add-to-link">
                                                    <a data-toggle="tooltip" title="Wishlist" href="#"><i
                                                        class="fa fa-heart"></i></a>
                                                    <a data-toggle="tooltip" title="Compare" href="#"><i
                                                        class="fa fa-compress"></i></a>
                                                    <a class="modal-view" href="#" data-toggle="modal"
                                                       data-target="#productModal"><i data-toggle="tooltip"
                                                                                      title="Quckview"
                                                                                      class="fa fa-search-plus"></i></a>
                                                </div>
                                                <div class="action">
                                                    <button type="button">Add to Cart</button>
                                                </div>

                                            </div>
                                            <!-- ‍single product end-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tab end -->
                </div>
            </div>
        </div>
    </section>
    <!-- producttabs-slider  end -->


    <!-- logo-brand-area  start -->
    <section class="logo-brand-area r1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="section-title">
                        <h2>logo brands</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="brand-carousel" owl-carousel items="6">
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="{{vm.imagePath}}brand/1.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="{{vm.imagePath}}brand/2.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="{{vm.imagePath}}brand/3.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="{{vm.imagePath}}brand/4.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="{{vm.imagePath}}brand/5.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="{{vm.imagePath}}brand/6.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="{{vm.imagePath}}brand/7.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-brand">
                            <a href="#"><img src="{{vm.imagePath}}brand/5.png" alt=""/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- logo-brand-area  end -->

    <!-- blog-post-area  start -->
    <section class="blog-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <h2>blog post</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog-post-carousel" id="blog" owl-carousel items="2">
                    <div class="col-lg-12 col-md-12">
                        <div class="single-post">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="{{vm.imagePath}}post/blog-1.png" alt=""/>
                                </a>

                                <div class="time-comment">
                                    <div class="date-time">
                                        <span class="icon"><i class="fa fa-calendar"></i></span>
                                        <span class="date">25</span>
                                        <span class="separator">/</span>
                                        <span class="month">Feb</span>
                                        <span class="year">2016</span>
                                    </div>
                                    <div class="comments">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                        <span class="count">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title">
                                    <a href="#">Are you prepared for Chronic Kidney Disease?</a>
                                </h3>

                                <p class="content">
                                    Diabetes is one of the most common causes of chronic kidney disease,
                                    which was previously called as "End-Stage Renal Disease (ESRD)". More than 50-60% of
                                    our
                                    population needs dialysis or kidney transplant, prime reason being -
                                    “Our Change in lifestyle”. In India, dialysis population is growing significantly
                                    and
                                    spreading its jaws to more people.  
                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#" class="read-more-btn">Continus Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single-post">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="{{vm.imagePath}}post/blog-2.png" alt=""/>
                                </a>

                                <div class="time-comment">
                                    <div class="date-time">
                                        <span class="icon"><i class="fa fa-calendar"></i></span>
                                        <span class="date">25</span>
                                        <span class="separator">/</span>
                                        <span class="month">Feb</span>
                                        <span class="year">2016</span>
                                    </div>
                                    <div class="comments">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                        <span class="count">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title">
                                    <a href="#">Is Computer Hurting Your Neck?</a>
                                </h3>

                                <p class="content">
                                    Technological diseases are disorders of the modern era. Some are caused by poor
                                    postures
                                    related to one’s profession.
                                    Did you know that spending long hours on your computer can put your health at
                                    serious
                                    risk? Most people do not even consider that possibility, but it does. Working at
                                    your
                                    computer desk with poor posture is extremely harmful for your body. Nowadays, the
                                    most
                                    common health.
                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#" class="read-more-btn">Continus Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single-post">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="{{vm.imagePath}}post/blog-3.png" alt=""/>
                                </a>

                                <div class="time-comment">
                                    <div class="date-time">
                                        <span class="icon"><i class="fa fa-calendar"></i></span>
                                        <span class="date">25</span>
                                        <span class="separator">/</span>
                                        <span class="month">Feb</span>
                                        <span class="year">2016</span>
                                    </div>
                                    <div class="comments">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                        <span class="count">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title">
                                    <a href="#">Beware: Season Change Can Cause Serious Allergies</a>
                                    <br>
                                </h3>

                                <p class="content">
                                    Who is to blame for severe headaches, joint pains, and other achy issues?
                                    We all know that it is the weather,
                                    which is taking a toll on your health and making you more vulnerable.
                                    It has been observed that the people sneeze more often during spring time when there
                                    is
                                    a lot of pollen floating around in the air.
                                    More importantly. 
                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#" class="read-more-btn">Continus Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single-post">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="{{vm.imagePath}}post/blog-4.png" alt=""/>
                                </a>

                                <div class="time-comment">
                                    <div class="date-time">
                                        <span class="icon"><i class="fa fa-calendar"></i></span>
                                        <span class="date">25</span>
                                        <span class="separator">/</span>
                                        <span class="month">Feb</span>
                                        <span class="year">2016</span>
                                    </div>
                                    <div class="comments">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                        <span class="count">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title">
                                    <a href="#">Treat Every Abdominal Pain Seriously
                                    </a>
                                </h3>

                                <p class="content">
                                    Abdominal pain is not an uncommon problem which strikes almost every one of us now
                                    or
                                    then.
                                    Most of the pains are simple and not related to serious problems but sometimes these
                                    pains can be harbinger
                                    for serious ailments.
                                    <strong>So DO NOT IGNORE ANY PAIN.</strong>
                                    Should I treat every pain with suspicion?
                                    Yes, especially if the pain is very severe, intolerable and is affecting your daily
                                    routine.
                                    .  
                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#" class="read-more-btn">Continus Reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single-post">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="{{vm.imagePath}}post/blog-5.png" alt=""/>
                                </a>

                                <div class="time-comment">
                                    <div class="date-time">
                                        <span class="icon"><i class="fa fa-calendar"></i></span>
                                        <span class="date">25</span>
                                        <span class="separator">/</span>
                                        <span class="month">Feb</span>
                                        <span class="year">2016</span>
                                    </div>
                                    <div class="comments">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                        <span class="count">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title">
                                    <a href="#">Cataract Myths and Facts</a>
                                </h3>

                                <p class="content">
                                    <strong>Myth:</strong> Cataract is an old age problem<br>
                                    <strong>Fact:</strong> Most cataracts are senile but can occur at any age. They can
                                    also
                                    be congenital or caused by steroid intake, injury, diabetes or eye
                                    inflammations.<br>
                                    <strong> Myth:</strong> Cataract can be prevented by medicines, diet, eye exercise
                                    or
                                    yoga<br>
                                    <strong>Fact:</strong> There is no prevention for cataract.


                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#" class="read-more-btn">Continus Reading</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </section>
    <!-- blog-post-area end -->


    <!-- banner-static ‍area start-->
    <section class="banner-static">
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="icon-text box1">
                            <div class="icon">
                                <i class="fa fa-history"></i>
                            </div>
                            <div class="text">
                                <h2>Real Time <br> Availability</h2>

                                <p>free returns</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="icon-text box2">
                            <div class="icon">
                                <i class="fa fa-tags"></i>
                            </div>
                            <div class="text">
                                <h2>Faster <br> Delivery</h2>

                                <p>free returns</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="icon-text box3">
                            <div class="icon">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="text">
                                <h2>Free</h2>

                                <p>free returns</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="icon-text box4">
                            <div class="icon">
                                <i class="fa fa-key"></i>
                            </div>
                            <div class="text">
                                <h2>Seccure</h2>

                                <p>free returns</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row end -->
            </div>
        </div>
    </section>

    <div>
        <h2 class="title bla text-center">Find Us At Nearest Store</h2>
        <img src="{{vm.imagePath}}testimonial/map3.png" class="map-img-size">
    </div>
    <!-- map area end -->


    <!-- subscribe area start-->
    <section class="subscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center">
                    <div class="title">
                        <h3>Get in touch</h3>
                    </div>
                    <div class="des-newletter">
                        <p>Subscribe to the Yopillz mailing list to receive updates on new arrivals, special offers and
                            other discount information.</p>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-text" placeholder="Sign up for our newsletter" id="newsletter"
                               name="email"/>
                        <button class="button" title="Subscribe" type="submit"><span><span>subscribe</span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </section>
    <!-- subscribe-area end-->

    <!-- Footer start -->
    <app-footer></app-footer>
    <!-- Header end -->
<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: new google.maps.LatLng(51.5, -0.2),
            zoom: 10
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
