<div class="container">
    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"  data-target="#myModal">Open Modal</button>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Location Me</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-center" style="padding: 30px 0 60px">
                                <i class="fa fa-map-marker fa-3x font-red animated infinite bounce"
                                   style="z-index: 999999; position: absolute; left: 48%;"></i>
                                <i class="fa fa-map fa-5x font-green" style="position: absolute; left: 44%; z-index:
                            999998"></i>
                            </p>
                            <br/>

                            <p class="text-center">Get services sooner !!</p>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-xs-5 col-xs-offset-1">
                            <div class="form-group">
                                <label>Select State</label>
                                <select class="form-control input-green">
                                    <option>Hyderabad</option>
                                    <option>Bangalore</option>
                                    <option>Mumbai</option>
                                    <option>Gujarat</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-body">

                            <input type="text"
                                   ng-model="vm.place"
                                   placeholder="Enter the location"
                                   auto-complete="vm.autoCompleteOptions" />
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label>Select City</label>
                                <select class="form-control input-green">
                                    <option>Gachibowli</option>
                                    <option>Kondapur</option>
                                    <option>Madhapur</option>
                                    <option>Chandanagar</option>
                                    <option>Miyapur</option>
                                    <option>Kukatpally</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button-green" data-dismiss="modal">Go
                        For
                    </button>

                    <button type="button" class="button-red" data-dismiss="modal">Skip</button>

                </div>
            </div>

        </div>
    </div>

    <!--modal ends-->
