<toaster-container></toaster-container>
<!-- Header start -->
<app-header state="vm.state"></app-header>
<!-- Header end -->

<section class="single-product-area sit stick-point-here">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <ul class="page-title res7">
                    <li><a ui-sref="home">Home</a></li>
                    <li><span><i class="fa fa-angle-right"></i></span></li>
                    <li class="current"><a ui-sref="product.list">Product List</a></li>
                    <li><span><i class="fa fa-angle-right"></i></span></li>
                    <li class="current">Product Details</li>
                </ul>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 col-sm-6 none-si-pro">
                        <div class="pro-img-tab-content tab-content">
                            <div class="tab-pane active" id="image-1">
                                <div class="simpleLens-big-image-container">
                                    <a class="simpleLens-lens-image" simple-lens data-lightbox="roadtrip" data-lens-image="{{vm.productSelected.Images1}}" href="{{vm.productSelected.Images1}}">
                                        <img src="{{vm.productSelected.Images1}}" alt="" class="simpleLens-big-image">
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane" id="image-2">
                                <div class="simpleLens-big-image-container">
                                    <a class="simpleLens-lens-image" simple-lens data-lightbox="roadtrip" data-lens-image="{{vm.productSelected.Images2}}" href="{{vm.productSelected.Images2}}">
                                        <img src="{{vm.productSelected.Images2}}" alt="" class="simpleLens-big-image">
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane" id="image-3">
                                <div class="simpleLens-big-image-container">
                                    <a class="simpleLens-lens-image" simple-lens data-lightbox="roadtrip" data-lens-image="{{vm.productSelected.Images3}}" href="{{vm.productSelected.Images3}}">
                                        <img src="{{vm.productSelected.Images3}}" alt="" class="simpleLens-big-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pro-img-tab-slider indicator-style2">
                            <div class="item"><a href="#image-1" data-toggle="tab"><img src="{{vm.productSelected.Images1}}" alt="" /></a></div>
                            <div class="item"><a href="#image-2" data-toggle="tab"><img src="{{vm.productSelected.Images2}}" alt="" /></a></div>
                            <div class="item"><a href="#image-3" data-toggle="tab"><img src="{{vm.productSelected.Images3}}" alt="" /></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="cras">
                            <div class="product-name">
                                <h2>{{vm.productSelected.ProductName}}</h2>
                            </div>
                            <div class="pro-rating cendo-pro">
                                <div class="pro_one">
                                    <img src="assets/img/icon/stars-1.png" alt="">
                                </div>
                                <p class="rating-links">
                                    <a href="#">1 Reviews</a>
                                </p>
                            </div>
                            <p class="availability in-stock">
                                Product Code: {{vm.productSelected.ItemId}}
                            </p>
                            <p class="availability in-stock2">
                                Availability: {{vm.productSelected.Availability}}
                            </p>
                            <div class="short-description">
                                <p>{{vm.productSelected.Caution}}</p>
                            </div>
                            <div class="pre-box">
                                <span class="special-price">{{vm.productSelected.PackMRP}}</span>
                            </div>
                            <div class="add-to-box1">
                                <div class="add-to-box add-to-box2">
                                    <div class="add-to-cart">
                                        <div class="input-content">
                                            <label>Quantity:</label>
                                            <div class="quantity">
                                                <div class="cart-plus-minus" product-count>
                                                    <input type="text" value="0" name="qtybutton" class="cart-plus-minus-box">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-icon">
                                            <a href="#">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-retweet"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="s-cart-img">
                                <a href="#">
                                    <img alt="" src="assets/img/icon/screenshot_2.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="text">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Product Description</a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews (1)</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tab-con2">
                                <div role="tabpanel" class="tab-pane active" id="home">{{vm.productSelected.Ingredients}}</div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <form class="form-horizontal">
                                        <div id="review">
                                            <table class="table table-striped table-bordered">
                                                <tr>
                                                    <td style="width: 50%;">
                                                        <strong>demo</strong>
                                                    </td>
                                                    <td class="text-right">25/01/2016</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p class="text an-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet sem varius, fringilla erat a, blandit arcu. Cras sit amet justo eu erat imperdiet dictum ac eget nulla. Aliquam erat volutpat.</p>
                                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                                    <i class="fa fa-star-o fa-stack-2x"></i>
                                                                </span>
                                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                                    <i class="fa fa-star-o fa-stack-2x"></i>
                                                                </span>
                                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star-o fa-stack-2x"></i>
                                                                </span>
                                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star-o fa-stack-2x"></i>
                                                                </span>
                                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star-o fa-stack-2x"></i>
                                                                </span>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="text-right"></div>
                                        </div>
                                        <h2 class="write">Write a review</h2>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-name">Your Name</label>
                                                <input id="input-name" class="form-control" type="text" value="" name="name">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-review">Your Review</label>
                                                <textarea id="input-review" class="form-control" rows="5" name="text"></textarea>
                                                <div class="help-block">
                                                    <span class="text-danger">Note:</span>
                                                    HTML is not translated!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label">Rating</label>
                                                Bad
                                                <input type="radio" value="1" name="rating">
                                                <input type="radio" value="2" name="rating">
                                                <input type="radio" value="3" name="rating">
                                                <input type="radio" value="4" name="rating">
                                                <input type="radio" value="5" name="rating">
                                                Good
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-captcha">Enter the code in the box below</label>
                                                <input id="input-captcha" class="form-control" type="text" value="" name="captcha">
                                            </div>
                                        </div>
                                        <div class="buttons si-button">
                                            <div class="pull-right">
                                                <button id="button-review" class="btn btn-primary" data-loading-text="Loading..." type="button">Continue</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
