html, body {
    font-size: 15px;
}

.modal {
    z-index: 9999;
    top:16%;

}

.bg-green{background-color: #0bb3a4;}
.font-red{color: #f95656;}
.font-green{color: #0bb3a4;}
.font-green-shadow{color: #eeeeee;
    text-shadow:
    3px 3px 0 #0bb3a4,
        /* Simulated effect for Firefox and Opera
           and nice enhancement for WebKit */
    -1px -1px 0 #0bb3a4,
    1px -1px 0 #0bb3a4,
    -1px  1px 0 #0bb3a4,
    1px  1px 0 #0bb3a4;}
.font-grey{color: #eeeeee;}

.padding-l-0{padding-left: 0 !important;}
.padding-r-0{padding-right: 0 !important;}
.padding-t-0{padding-top: 0 !important;}
.padding-b-0{padding-bottom: 0 !important;}
.padding-a-0{padding: 0 !important;}
.header-top {
    background: #0bb3a4 none repeat scroll 0 0;
}

.header-top-stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.header-top .header-top-right .currency, .header-top .header-top-right .log-in-click , .header-top .header-top-right .signin{
    line-height: 25px;
}
.signin{
    border-right: #fff 1px solid;
}

.header-top-right a {
    color: #fff;
    font-size: 12px
}

.header-top .header-top-right li ul {
    left: 15px;
}

.header-top .header-top-right > li > a::after {
    color: #fff;
}

.header-top a:hover {
    color: #fff;
    font-weight: bold;
}

.header-mid-area-stick {
    background: #fff none repeat scroll 0 0;
    position: fixed;
    top: 26px;
    width: 100%;
    z-index: 9997;
}

.header-mid-area .logo-area {
    padding: 15px 0 15px;
}

.header-mid-area .search-area {
    width: 100%;
    margin: 0;
    padding: 20px 0 20px;
}

.header-mid-area .input-group {
    width: 100%;
}

.header-mid-area .search-area form input {
    width: 100%;
    z-index: 999;
}
.header-mid-area .search-area form button{
    z-index: 999;
}

.header-mid-right {
    padding: 20px 0 20px;
}

.header-bottom-area-stick {
    border-bottom: 2px solid #0bb3a4;
    margin-top: 110px;
}

.header-bottom-area nav.main-menu ul.menu li a {
    font-size: 12px;
    line-height: 35px;
    padding: 4px 27.5px 0;
}

.slider-content .title1{
    color: #fff;
    text-shadow:
    3px 3px 0 #0bb3a4,
        /* Simulated effect for Firefox and Opera
           and nice enhancement for WebKit */
    -1px -1px 0 #0bb3a4,
    1px -1px 0 #0bb3a4,
    -1px  1px 0 #0bb3a4,
    1px  1px 0 #0bb3a4;
}
.banner-static .icon-text .icon{
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 80px;
}
.banner-static .icon-text .text h2{
    font-size: 28px;
    text-decoration: none;
}

.after-scroll-point {
    border-bottom: 3px solid #0bb3a4;
}

#easing_wrapper {
    width:100%;
    height:120px;
    color: #ffffff;
}

#easing, #easing2, #easing3{
    background: #0BB3A4;
    width:50%;
    z-index:101;
    padding: 20px;
    position: absolute;
}


.modal .button-green   {
    background: #0bb3a4 none repeat scroll 0 0;
    border-color: #0b968a;
    border-image: none;
    border-radius: 5px 5px 7px 7px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 41px;
    line-height: 40px;
    padding: 0 25px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
}
.modal .button-red   {
    background: #b32134 none repeat scroll 0 0;
    border-color: #b32134;
    border-image: none;
    border-radius: 5px 5px 7px 7px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 41px;
    line-height: 40px;
    padding: 0 25px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
}
.modal .input-red   {
    border-color: #b32134;
    border-radius: 0;
}
.modal .input-green   {
    border-color: #0b968a;
    border-radius: 0;
}

.modal .modal-header{
    background-color: #0bb3a4;
    color:#ffffff;
}

.modal .modal-header .close{
    color:#ffffff;
    opacity: 0.6;
}

.modal .modal-footer{
    /*background-color: #eeeeee;*/
    background-color: #fff;
}
@media screen and (max-width: 1366px){
    .container {
        width: 90% !important;
    }
}
@media screen and (max-width: 1280px){
    .container {
        width: 100% !important;
    }
}
@media screen and (max-width: 991px){
    .header-mid-area .logo-area {
        padding: 25px 0 15px;
    }
}
.main-container {   }
.main { margin:0 auto; text-align:left;}
.col1-layout .col-main { float:none; width:auto; }
.container {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}


    .container {
        width: 1230px;
    }

    * { margin:0; padding:0; }

    body          {font-family: 'Montserrat', sans-serif;font-size: 14px;font-weight: bold ; color:#999999; text-align: left; background: #fff;}
    img           { border:0; vertical-align:top; }
    a             { color:#919191; text-decoration: none;  transition:all 200ms ease-in 0s;}
    a:hover       {text-decoration:none;color:#0bb3a4}
    a:focus{ outline:none; }
    :focus{ outline:none; }
    img { max-width: 100%; height: auto;}
.account-login .content {
    min-height: 345px;
    padding: 14px 21px;
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}

.account-login .content h2 {
    font-weight: bold;
    font-size: 13px;
    margin: 0 0 14px;
    padding: 0 0 5px 23px;
    border-bottom: 1px solid #f2f2f2;
    background-position: 0 1px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: #444443
}

.account-login .new-users h2 {
    background-image: url(http://www.plazathemes.com/demo/ma_sayja/skin/frontend/ma_sayja/ma_sayja1/images/i_page1.gif)
}

.account-login .registered-users h2 {
    background-image: url(http://www.plazathemes.com/demo/ma_sayja/skin/frontend/ma_sayja/ma_sayja1/images/i_page2.gif);
}

.account-login .buttons-set {
    border: 1px solid #f2f2f2;
    margin: 0;
    padding: 8px 13px;
}

/* BreadCrumbs */
.breadcrumbs {
    font-size: 12px;
    margin-bottom: 20px;
}

.breadcrumbs .container-inner {
    margin-top: 30px;
}

.breadcrumbs li {
    display: inline;
    text-transform: capitalize;
}

.breadcrumbs li span {
    padding: 0 10px;
    display: inline-block;
    color: #8a8a8a;
}

.breadcrumbs li span .fa {
    font-size: 12px;
    color: #9a9a9a;
}

.breadcrumbs li a:hover, .breadcrumbs li strong {
    font-weight: normal;
    color: #0bb3a4;
}
.title-page, .page-title {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.col2-set .col-1 {
    float: left;
    width: 48.5%;
}

.col2-set .col-2 {
    float: right;
    width: 48.5%;
}

.col2-set .col-narrow {
    width: 32%;
}

.col2-set .col-wide {
    width: 65%;
}
.col2-set .col-1 {
    float: left;
    width: 48.5%;
}
.account-login .content {
    min-height: 345px;
    padding: 14px 21px;
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}
.account-login .new-users h2 {
    background-image: url(http://www.plazathemes.com/demo/ma_sayja/skin/frontend/ma_sayja/ma_sayja1/images/i_page1.gif);
}
.col2-set .col-2 {
    float: right;
    width: 48.5%;
}
.form-list label.required {
}
.form-list label {
    float: left;
    color: #2f5271;
    font-weight: bold;
    position: relative;
    z-index: 0;
}
ul, ol {
    list-style: none;
    margin: 0;
}
.form-list .input-box {
    display: block;
    clear: both;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}
.form-list input.input-text {
    width: 98%;
    padding: 7px 0 7px 7px;
}

input.input-text, select, textarea {
    border: 1px solid #f2f2f2;
}
.account-login .buttons-set {
    border: 1px solid #f2f2f2;
    margin: 0;
    padding: 8px 13px;
}
.buttons-set button.button {
    float: right;
    margin-left: 10px;
}
button.button {
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}
.buttons-set button.button span span {
    background: #696969;
    border-color: #696969;
    color: #fff;
}
button.button span span {
    padding: 0 20px;
    font-size: 11px;
    color: #0bb3a4;
    display: inline-block;
    background: #fff;
    font-weight: 700;
    line-height: 34px;
    border-radius: 0;
    border: 1px solid #0bb3a4;
    text-transform: uppercase;
}
.f-left, .left {
    float: left !important;
}
a {
    color: #919191;
    text-decoration: none;
    transition: all 200ms ease-in 0s;
}
.buttons-set {
    clear: both;
    margin: 20px 0 10px;
    padding: 8px 0 0;
    border-top: 1px solid #f2f2f2;
    text-align: right;
    height:54px;
}

.buttons-set p.required {
    margin: 0 0 10px;
}

.buttons-set .back-link {
    float: left;
    margin: 0;
}

.buttons-set button.button {
    float: right;
    margin-left: 10px;
}

.buttons-set button.button span span {
    background: #696969;
    border-color: #696969;
    color: #fff;
}

.buttons-set button.button span span:hover {
    background: #0bb3a4;
    color: #fff;
    border-color: #0bb3a4;
}

.buttons-set-order {
    margin: 10px 0 0;
}

.buttons-set-order .please-wait {
    padding: 12px 7px 0 0;
}

.block-subscribe button.button span span {
    text-align: center;
    height: 43px;
    line-height: 40px;
    padding: 0 25px;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    background: #0bb3a4;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 5px solid #0b968a;
    border-radius: 5px 5px 7px 7px;
    border-top: 1px solid #0b968a;
    border-right: 1px solid #0b968a;
    border-left: 1px solid #0b968a;
    color: #fff;
}

.title-page h1, .page-title h1, .page-title h2 {
    margin: 0;
    font-size: 20px;
    font-weight:bold;
    text-transform: uppercase;
    background: #fff;
    color: #252525;
}
#login-form p {
    color: #888888;
}

p {
    margin: 0 0 10px;
}
.form-list label.required em {
    float: right;
    font-style: normal;
    color: #eb340a;
    position: absolute;
    top: 0;
    right: -8px;
}
.form-list label.required {
}
.form-list label {
    float: left;
    color: #2f5271;
    font-weight: bold;
    position: relative;
    z-index: 0;
}
.account-login .buttons-set {
    border: 1px solid #f2f2f2;
    margin: 0;
    padding: 8px 13px;
}
.buttons-set {
    clear: both;
    margin: 20px 0 10px;
    padding: 8px 0 0;
    border-top: 1px solid #f2f2f2;
    text-align: right;
    height:54px;
}
* {
    margin: 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p.required {
    font-size: 11px;
    text-align: right;
    color: #EB340A;
}

.validation-advice {
    clear: both;
    min-height: 13px;
    margin: 5px 0 0;
    width: 200px;
    padding-left: 18px;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    background: url(http://www.plazathemes.com/demo/ma_sayja/skin/frontend/ma_sayja/ma_sayja1/images/validation_advice_bg.gif) left center no-repeat;
    color: #eb340a;
    text-align: left;
}

.span {
    color:red;
    font-family: 'Montserrat', sans-serif;
}
.has-error .help-block {
    background: #f2dede;
    border-color: #ebccd1;
    color: #b94a48;
    background-size: 20px 20px;
}
.has-error .help-block, .has-success .help-block, .has-warning .help-block {
    display: block;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 2px;
    position: relative;
}
